<!doctype html>
<html lang="en" ng-app>
  <head>
    <title>Wilderland Client</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-responsive.min.css">
    <link rel="stylesheet" href="/css/client.css">
    
    <script type="text/template" id="Wilderland-MainView-template">
      <p>Status: <span data-role="connectionStatusSpan">Unknown</span></p>
      <div data-role="messagesDiv"></div>
      <div data-role="commandInputDiv">
        &gt; <span data-role="input"></span><span class="blinking-cursor">_</span>
      </div>
    </script>
    
    <script type="text/template" id="Wilderland-Sector-template">
      <div class="sector">
        Sector: <span class="sectorId"><%= sector.id %></span><br>
        <% if( sector.ports.length>0 ) { %>
        <% $.each(sector.ports, function(index, port) { %>
        Port: <%= port.name %><br>
        <% }); %>
        <% } %>
        Warps to sector(s): <ul class="warpList">
        <% $.each(sector.warps, function(index, warp) { %>
          <li class="warp"><%= warp %></li>
        <% }); %></ul></br>
      </div>
    </script>
    
    <script type="text/template" id="Wilderland-Port-template">
      <div class="port">
        Commerce report for <%= port.name %>: 
        
        <table>
          <thead>
            <tr>
              <th>Items</th>
              <th>Status</th>
              <th>Trading</th>
              <th>% of Max</th>
              <th>Onboard</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Fuel Ore</td>
              <td><%= port.isBuyingFuelOre() ? "Buying" : "Selling" %></td>
              <td><%= port.getFuelOre().current %></td>
              <td>--</td>
              <td>--</td>
            </tr>
            <tr>
              <td>Organics</td>
              <td><%= port.isBuyingOrganics() ? "Buying" : "Selling" %></td>
              <td><%= port.getOrganics().current %></td>
              <td>--</td>
              <td>--</td>
            </tr>
            <tr>
              <td>Equipment</td>
              <td><%= port.isBuyingEquipment() ? "Buying" : "Selling" %></td>
              <td><%= port.getEquipment().current %></td>
              <td>--</td>
              <td>--</td>
            </tr>
          </tbody>
        </table>
        
        You have <%= player.getCredits() %> credits and <%= player.ship.getEmptyCargoHolds() %> empty holds.
      </div>
    </script>
    
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/underscore-min.js"></script>
    <script src="/js/backbone-min.js"></script>
    
    <script src="/js/Wilderland/Client.js"></script>
    <script src="/js/Wilderland/Client/CommandInterpreters/CommandInterpreter.js"></script>
    <script src="/js/Wilderland/Client/CommandInterpreters/InSpaceInterpreter.js"></script>
    <script src="/js/Wilderland/Client/Router.js"></script>
    <script src="/js/Wilderland/Client/GameState.js"></script>
    <script src="/js/Wilderland/Client/Views/MainView.js"></script>
    <script src="/js/Wilderland/Client/Entities/Player.js"></script>
    <script src="/js/Wilderland/Client/Entities/Sector.js"></script>
    <script src="/js/Wilderland/Client/Entities/Port.js"></script>
    <script src="/js/Wilderland/Client/Entities/Ship.js"></script>
    
    <script>
      $(document).ready(function() {
        Wilderland.Client.start();
      });
    </script>
  </head>
  <body>
  </body>
</html>
